/* VARIABILI */
:root {
  /* Colori */
  --color-bg: #CCCCCC;
  --color-text: #000000;
  --color-muted: #666666;

  /* Font */
  --font-main: "Ronzino", serif;

  /* Spaziature */
  --spacing-xs: 0.5rem;    /* 8px */
  --spacing-sm: 1rem;      /* 16px */
  --spacing-md: 1.5rem;    /* 24px */
  --spacing-lg: 3.75rem;   /* 60px */
  --spacing-xl: 7.5rem;    /* 120px */
}

/* FONT */
@font-face {
  font-family: "Ronzino";
  src: url("../fonts/Ronzino-Regular.woff") format("woff");
}

/* BASE */
body {
  margin: 0;
  background: var(--color-bg);
  font-family: var(--font-main);
  font-size: 1.25rem; /* 20px */
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* FIRMA */
.signature {
  margin-top: var(--spacing-lg);
  margin-left: var(--spacing-xl);
  font-size: 1rem; /* 16px */
  color: var(--color-muted);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: var(--spacing-xl);
  bottom: 15rem; /* 240px */

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.nav-link {
  font-size: 1rem; /* 16px */
  text-decoration: none;
  color: var(--color-text);
  font-weight: normal;
  transition: color 0.2s, transform 0.2s;
}

.nav-link:hover {
  color: var(--color-muted);
  /* transform: translateX(4px); */
}

.nav-link.active {
  font-weight: bold;
}

/* CONTENUTO PRINCIPALE */

/* Titoli */
h1 {
  font-size: 2rem; /* 32px */
  font-weight: normal;
  margin-bottom: 1.5rem; /* 24px */
}

/* Testi */
.content {
  flex: 1;
  margin-left: 22.5rem;  /* 360px */
  margin-right: 8.75rem; /* 140px */
  padding-top: 8.75rem;  /* 140px */
}

/* .content p {
  max-width: 700px;
} */

/* FOOTER */
.footer-note {
  margin-top: 5rem;      /* 80px */
  margin-bottom: 3.75rem;/* 60px */
  margin-right: var(--spacing-xl);
  font-size: 0.75rem;    /* 12px */
  text-align: right;
  color: var(--color-muted);
}

.footer-note a {
  color: inherit;
  text-decoration: underline;
}

/* !!! VERSIONE MOBILE */

@media (max-width: 768px) {

  .signature {
    margin-top: 1.5rem;  /* 24px */
    margin-left: 1.5rem;
    font-size: 0.875rem; /* 14px */
  }

  .sidebar {
    position: static;
    margin: 1.5rem;
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav-link {
    font-size: 0.875rem; /* 14px */
  }

  .content {
    margin: 0 1.5rem;
    padding-top: 8.75rem; /* 140px */
    max-width: none;
  }

  h1 {
    font-size: 1.625rem; /* 26px */
  }

  .footer-note {
    margin: 3.75rem 1.5rem 1.5rem 1.5rem; /* 60px 24px 24px 24px */
    font-size: 0.6875rem; /* 11px */
    text-align: right;
    white-space: normal;
    word-break: keep-all;
  }
}
